.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  background-color: #f99c1c;
  background-image: url("https://wall.alphacoders.com/big.php?i=589959");
  background-size: cover;
  opacity: 80%;
}

.yellow-overlay { display: none; }